**/bin/
**/obj/
**/node_modules/
**/dist/
*.tsbuildinfo
*:Zone.Identifier
.env
*.db
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
gha-creds-*.json
application_default_credentials.json
