**/bin/
**/obj/
**/node_modules/
**/dist/
*.tsbuildinfo
*:Zone.Identifier
.env
*.db
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
infra/bootstrap/02-state/backend.tf
crash.log
crash.*.log
gha-creds-*.json
application_default_credentials.json
